<div class="row">
  <div class="col-sm-12">
    <div class="bold">
      <h4>{{content.name}}</h4>
    </div>
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered table-sm table-sizing">
        <thead>
          <th *ngFor="let header of content.headers">{{header}}</th>
        </thead>
        <tbody *ngIf="content.identifier === 'meleeWeapons'">
          <tr *ngFor="let row of content.body">
            <td>{{row.weapon}}</td>
            <td>{{row.type}}</td>
            <td>{{row.price}}</td>
            <td>{{row.rarity}}</td>
            <td>{{row.range}}</td>
            <td>{{row.damage}}</td>
            <td>{{row.critical}}</td>
            <td>{{row.effect}}</td>
            <td>{{row.proficiency}}</td>
            <td>{{row.prerequisites}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="content.identifier === 'rangedWeapons'">
          <tr *ngFor="let row of content.body">
            <td>{{row.weapon}}</td>
            <td>{{row.price}}</td>
            <td>{{row.rarity}}</td>
            <td>{{row.range}}</td>
            <td>{{row.damage}}</td>
            <td>{{row.clipSize}}</td>
            <td>{{row.firingModes}}</td>
            <td>{{row.critical}}</td>
            <td>{{row.effect}}</td>
            <td>{{row.proficiency}}</td>
            <td>{{row.prerequisites}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="content.identifier === 'armor'">
          <tr *ngFor="let row of content.body">
            <td>{{row.type}}</td>
            <td>{{row.price}}</td>
            <td>{{row.rarity}}</td>
            <td>{{row.armorValue}}</td>
            <td>{{row.requirements}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
