<div class="container-fluid">
  <div class="row">
    <div [ngClass]="{'col-sm-3 col-6': showSidebar, 'col-sm-1 col-1': !showSidebar}" class="sidebar-container">
      <app-sidebar (toggle)="onToggle($event)" #sideBar></app-sidebar>
    </div>
    <div [ngClass]="{'hidden': showSidebar}" class="lexicon-open">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Terms</button>
    </div>
    <div [ngClass]="{'col-sm-11 offset-sm-1 col-12': showSidebar, 'col-sm-11 col-11 offset-1': !showSidebar, 'stopflow': showSidebar}" class="abs" (click)="updateValue()">
      <div class="cover" *ngIf="showSidebar"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lexicon</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-lexicon></app-lexicon>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
