.container-fluid {
  margin: 0;
}

.sidebar-container {
  padding-left: 0;
  position: sticky;
  top: 100px;
  z-index: 5;
  height: calc(100% - 112px);

}

.abs {
  position: absolute;
  overflow-y: scroll;
  height: calc(100% - 112px);
}

.cover {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 308px;
  z-index: 10;
  background-color: grey;
  opacity: .7;
  overflow: hidden;
}

.stopflow {
  overflow: hidden;
}
