<div class="chapter-container">
  <div id="step-one">
    <div class="subheader">
      <h1>{{contents.title}}</h1>
      <app-quote [quote]="contents.quote"></app-quote>
      <div class="section">
        <div *ngFor="let con of contents.intro" [innerHTML]="con" class="steps"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.info.enteringCombat.header}}</h3>
    <div>
      <div *ngFor="let info of contents.info.enteringCombat.content" [innerHTML]="info" class="steps"></div>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.info.initiative.header}}</h3>
    <div>
      <div *ngFor="let info of contents.info.initiative.content" [innerHTML]="info" class="steps"></div>
    </div>
  </div>
</div>
