<div class="skills-container chapter-container">
  <h2>{{content.title}}</h2>
  <p *ngIf="content.intro">{{content.intro}}</p>
  <div class="filter row">
    <div class="col-sm-8 offset-sm-2 input-group filter-group">
      <select class="form-control" (change)="onSelect($event)">
        <option value="">ALL</option>
        <option value="trainable">Trainable</option>
        <option value="one action">One Action</option>
        <option value="two action">Two Actions</option>
        <option value="reaction">Reaction</option>
      </select>
      <input type="text" id="keyword" class="keyword form-control" (change)="onChange($event)" (keyup.enter)="onFilter()" placeholder="Search Skills..." />
      <span class="input-group-btn">
        <button (click)="onFilter()" class="btn btn-primary">search</button>
      </span>
      <span class="input-group-btn">
        <button (click)="clearFilter()" class="btn btn-default clear-button">Clear Search</button>
      </span>
    </div>
  </div>
  <div id="skill-list" *ngFor="let skill of filteredSkills">
    <app-skill [skill]="skill"></app-skill>
  </div>
</div>
