<div class="skills-container chapter-container">
  <h2>{{content.title}}</h2>
  <p *ngIf="content.intro">{{content.intro}}</p>
  <div class="filter row">
    <div class="col-sm-6 offset-sm-3 input-group filter-group">
      <input type="text" id="keyword" class="keyword form-control" (change)="onChange($event)" placeholder="Search Skills..." />
      <span class="input-group-btn">
        <button (click)="onFilter()" class="btn btn-primary">search</button>
      </span>
      <span class="input-group-btn">
        <button (click)="clearFilter()" class="btn btn-default clear-button">Clear Search</button>
      </span>
    </div>
  </div>
  <div id="skill-list" *ngFor="let skill of filteredSkills">
    <app-skill [skill]="skill"></app-skill>
  </div>
</div>
