<div class="chapter-container" *ngIf="contents">
  <div id="step-one">
    <div class="subheader">
      <h1>{{contents.title}}</h1>
      <app-quote [quote]="contents.quote"></app-quote>
      <div class="section">
        <div class="steps">{{contents.intro}}</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="steps" *ngFor="let info of contents.info">
      <h3>{{info.header}}</h3>
      <div class="example">
        <div *ngFor="let detail of info.details" class="steps" [innerHTML]="detail"></div>
      </div>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.example.name}}</h3>
    <div class="example ">
      <ol>
        <li *ngFor="let step of contents.example.content" class="steps" [innerHTML]="step"></li>
      </ol>
    </div>
  </div>
</div>
