<div class="chapter-container" *ngIf="contents">
  <div id="step-one">
    <div class="subheader">
      <h2>{{contents.title}}</h2>
      <app-quote [quote]="contents.quote"></app-quote>
    </div>
  </div>
  <div class="section">
    <h4>{{contents.attackTypesChart.name}}</h4>
    <table class="table table-bordered table-striped">
      <thead>
        <th *ngFor="let header of contents.attackTypesChart.headers">{{header}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of contents.attackTypesChart.body">
          <td class="no-wrap">{{row.action}}</td>
          <td class="no-wrap">{{row.duration}}</td>
          <td [innerHTML]="row.effect"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <h4>{{contents.movementActionChart.name}}</h4>
    <table class="table table-bordered table-striped">
      <thead>
        <th *ngFor="let header of contents.movementActionChart.headers">{{header}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of contents.movementActionChart.body">
          <td class="no-wrap">{{row.action}}</td>
          <td>{{row.duration}}</td>
          <td [innerHTML]="row.effect"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="section">
    <h4>{{contents.miscActionChart.name}}</h4>
    <table class="table table-bordered table-striped">
      <thead>
        <th *ngFor="let header of contents.miscActionChart.headers">{{header}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of contents.miscActionChart.body">
          <td class="no-wrap">{{row.action}}</td>
          <td>{{row.duration}}</td>
          <td [innerHTML]="row.effect"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fixer-outer" id="myModal">
  <div class="modal-dialog fixer">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-firing-modes></app-firing-modes>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
