<div class="chapter-container">
  <div id="step-one">
    <div class="subheader">
      <h1>{{contents.title}}</h1>
      <app-quote [quote]="contents.quote"></app-quote>
      <div class="section">
        <div *ngFor="let intro of contents.intro" class="steps">{{intro}}</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="steps" *ngFor="let info of contents.info">
      <h3>{{info.header}}</h3>
      <div class="example">
        <div *ngFor="let detail of info.details" class="steps" [innerHTML]="detail"></div>
      </div>
    </div>
  </div>
  <div id="step-one" class="topper">
    <div class="subheader">
      <h1>{{contents.roleplaying.title}}</h1>
      <app-quote [quote]="contents.roleplaying.quote"></app-quote>
      <div class="section">
        <div *ngFor="let intro of contents.roleplaying.intro" class="steps">{{intro}}</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="steps" *ngFor="let info of contents.roleplaying.info">
      <h3>{{info.header}}</h3>
      <div class="example">
        <div *ngFor="let detail of info.details" class="steps" [innerHTML]="detail"></div>
      </div>
    </div>
  </div>
</div>
