<div class="chapter-container" *ngIf="contents">
  <div id="title">
    <h1 id="chapter-title">{{contents.title}}</h1>
    <app-quote [quote]="contents.quote"></app-quote>
    <div class="section">
      <p *ngFor="let paragraph of contents.intro">
        {{paragraph}}
      </p>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.dice.header}}</h3>
    <p>{{contents.dice.intro}}</p>
    <p *ngFor="let dice of contents.dice.content">
      <span class="bold">{{dice.dice}}</span> - {{dice.info}}
    </p>
    <div class="steps">
      {{contents.dice.post.main}}
      <ul>
        <li *ngFor="let example of contents.dice.post.example">{{example}}</li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.roleplaying.header}}</h3>
    <p *ngFor="let info of contents.roleplaying.content">
      {{info}}
    </p>
  </div>
</div>
