<div class="chapter-container">
  <div id="step-one">
    <div class="subheader">
      <h1>{{contents.title}}</h1>
      <app-quote [quote]="contents.quote"></app-quote>
    </div>
  </div>
  <div class="section">
    {{contents.intro}}
  </div>
  <div id="melee-weapons-chart" class="section">
    <app-item-chart [content]="contents.meleeWeaponsChart"></app-item-chart>
  </div>
  <div id="ranged-weapons-chart" class="section">
    <app-item-chart [content]="contents.rangedWeaponsChart"></app-item-chart>
  </div>
  <div id="armor-weapons-chart" class="section">
    <app-item-chart [content]="contents.armorChart"></app-item-chart>
  </div>

</div>
