<div class="col-sm-12 chart-container" *ngIf="chartData && chartName === 'genetics'">
  <h5><b>Genetics Table</b></h5>
  <table class="table table-bordered table-striped">
    <thead>
      <th *ngFor="let header of chartData.headers">{{header}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of chartData.body">
        <td [innerHTML]="row.range" class="no-wrap"></td>
        <td [innerHTML]="row.name"></td>
        <td [innerHTML]="row.description"></td>
        <td [innerHTML]="row.effect"></td>
      </tr>
    </tbody>
  </table>
  <h5><b>Eyesight Table</b></h5>
  <table class="table table-bordered table-striped">
    <thead>
      <th *ngFor="let header of secondaryChartData.headers">{{header}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of secondaryChartData.body">
        <td [innerHTML]="row.range" class="no-wrap"></td>
        <td [innerHTML]="row.name"></td>
        <td [innerHTML]="row.effect"></td>
      </tr>
    </tbody>
  </table>
</div>
