.sidebar {
  background-color: #eee;
  height: calc(100vh - 116px);
  width: 328px;
  margin-left: 0;
  padding-left: 0;
  position: sticky;
  top: 116px;
  .content {
    list-style: none;
    position: relative;
    top: 36px;
  }
  .current {
    font-weight: 700;
    text-decoration: underline;
  }
}
