<div class="sidebar">
  <ul class="content">
    <li><a routerLink="/guides/getting-started">Getting Started</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
    <li><a routerLink="/guides/chapter1">Chapter 1: Character Creation</a></li>
  </ul>
</div>
