.sidebar {
  background-color: #eee;
  height: 100%;
  position: sticky;
  width: 328px;
  margin-left: 0;
  padding-left: 0;
  .content {
    position: sticky;
    top: 116px;
    list-style: none;
  }
}
