<div class="download-holder">
  <a href="assets/charactersheet.pdf" download>Download Character Sheet</a>
</div>
<div id="character-sheet">
  <div class="page-container">
    <div id="printPage">
      <div class="">
        <h5>Basic Info</h5>
      </div>
      <div id="basic-info" class="">
        <div class="top">
          <div class="col8 inline">Name: __________________________________________________</div>
          <div class="col2 inline">Age: ______</div>
          <div class="col2 inline">Level: ______</div>
        </div>
        <div class="bottom">
          <div class="col12 inline">Fate of the Waygate: _______________________________________________________</div>
        </div>
      </div>
      <div class="section">
        <div class="">
          <h5>Stats</h5>
        </div>
        <div id="attributes" class="">
          <h6 class="attributes">Attributes</h6>
          <div class="top">
            <div class="attr-item inline"><span class="label">STR</span><div class="attr-circle"></div></div>
            <div class="attr-item inline"><span class="label">DEX</span><div class="attr-circle"></div></div>
            <div class="attr-item inline"><span class="label">VIT</span><div class="attr-circle"></div></div>
            <div class="attr-item inline"><span class="label">WP</span><div class="attr-circle"></div></div>
            <div class="attr-item inline"><span class="label">INT</span><div class="attr-circle"></div></div>
            <div class="attr-item inline"><span class="label">CHA</span><div class="attr-circle"></div></div>
            <div class="attr-item inline"><span class="label">MAG</span><div class="attr-circle"></div></div>
          </div>
          <div class="mid">
            <div class="col4 inline">Constitution: _______</div>
            <div class="col4 inline">Total Health: _______</div>
            <div class="col4 inline">Current Health: _______</div>
          </div>
          <div class="mid">
            <div class="col4 inline">Armor Rating: _______</div>
            <div class="col4 inline">Speed: _______</div>
            <div class="col4 inline">Aether Mark: _______</div>
          </div>
          <div class="mid">
            <div class="col8 inline">Available Skill Points: _____________</div>
            <div class="col4 inline">Experience: _____________</div>
          </div>
          <div class="bottom">
            <div class="col12 inline">Temp Notes:  _______________________________________________________________________</div>
          </div>
          <div class="extra">
            <div class="col2 inline"></div>
            <div class="col10 inline">_______________________________________________________________________</div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="">
          <h5>Description</h5>
        </div>
        <div id="other-details">
          <div class="top">
            <div class="col12 inline">Genetics: ______________________________________________________________________________</div>
          </div>
          <div class="top">
            <div class="col12 inline">Mental Changes: ______________________________________________________________________</div>
          </div>
          <div class="top">
            <div class="col12">Acquired Traits: _______________________________________________________________________</div>
          </div>
          <div class="top">
            <div class="col12">_________________________________________________________________________________________</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div id="printPage">
      <div class="section">
        <div class="col4 inline">
          <div class="box">
            <span class="header">Physical Description</span>
          </div>
        </div>
        <div class="col4 inline">
          <div class="box">
            <span class="header">Personality</span>
          </div>
        </div>
        <div class="col4 inline">
          <div class="box">
            <span class="header">Background</span>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="col6 inline">
          <div class="box">
            <span class="header">Proficiencies</span>
          </div>
        </div>
        <div class="col6 inline">
          <div class="box">
            <span class="header">Inventory</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div id="printPage">
      <h3>Equipment</h3>
      <h5>Weapons</h5>
      <div class="section weapons">
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Damage: ____________</div>
              <div class="col6 inline">Type: ____________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Proficient?: <span class="proficient">Yes / No</span></div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Damage: ____________</div>
              <div class="col6 inline">Type: ____________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Proficient?: <span class="proficient">Yes / No</span></div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section weapons">
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Damage: ____________</div>
              <div class="col6 inline">Type: ____________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Proficient?: <span class="proficient">Yes / No</span></div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Damage: ____________</div>
              <div class="col6 inline">Type: ____________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Proficient?: <span class="proficient">Yes / No</span></div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section weapons">
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Damage: ____________</div>
              <div class="col6 inline">Type: ____________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Proficient?: <span class="proficient">Yes / No</span></div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Damage: ____________</div>
              <div class="col6 inline">Type: ____________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Proficient?: <span class="proficient">Yes / No</span></div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section armor">
        <h5>Armor</h5>
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Type: ____________</div>
              <div class="col6 inline">Value: ____________</div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
        <div class="col6 inline">
          <div class="box">
            <div class="section">
              <div class="col12">Name: __________________________________</div>
            </div>
            <div class="section">
              <div class="col6 inline">Type: ____________</div>
              <div class="col6 inline">Value: ____________</div>
            </div>
            <div class="section">
              <div class="col12 inline">Notes:</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container">
    <div id="printPage">
      <h3>Skills</h3>
      <h5>Trainable</h5>
      <div class="section">
        <div class="col6 inline">
          <div class="skill labeler"><div class="col3 inline">Skill Name</div><div class="col8 inline bubbles"><span> &nbsp;UT  |</span><span>Basic |</span><span>Learned |</span><span>Skilled |</span><span>Master</span></div></div>
          <div class="skill"><div class="col3 inline">Awareness</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Charm</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Climb</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Crafting</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Cryptography</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Deception</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Intimidate</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Literacy</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
        </div>
        <div class="col6 inline">
          <div class="skill labeler"><div class="col3 inline">Skill Name</div><div class="col8 inline bubbles"><span> &nbsp;UT  |</span><span>Basic |</span><span>Learned |</span><span>Skilled |</span><span>Master</span></div></div>
          <div class="skill"><div class="col3 inline">Lockpick</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Medical</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Nature</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Pickpocket</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Stealth</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Swim</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline">Tech Savvy</div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div><div class="inline bubbles-box"></div></div>
          <div class="skill"><div class="col3 inline"></div></div>
        </div>
      </div>
      <div class="skill-list">
        <h5>Skill List</h5>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
        <div class="section"><div class="col5 inline skill"></div><div class="col5 inline skill"></div></div>
      </div>
    </div>
  </div>
</div>
