
<div class="chapter-container">
  <div id="title">
    <h1 id="chapter-title">{{contents.description.title}}</h1>
    <app-quote [quote]="contents.description.quote"></app-quote>
    <div class="section">
      <p *ngFor="let paragraph of contents.description.content" [innerHTML]="paragraph"></p>
    </div>
  </div>


  <div id="general">
    <div class="subheader">
      <h2>{{contents.startingSkills.header}}</h2>
      <div class="section">
        <p>
          {{contents.startingSkills.description}}
        </p>
      </div>
    </div>
    <ul id="steps">
      <li *ngFor="let step of contents.startingSkills.steps">
        <span [innerHTML]="step.content"></span>
        <ul *ngIf="step.sub && step.sub.length">
          <li *ngFor="let sub of step.sub" [innerHTML]="sub | safeHtml"></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
