
<div class="chapter-container">
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Skill List</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-skill-list></app-skill-list>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div id="title">
    <h1 id="chapter-title">{{contents.description.title}}</h1>
    <app-quote [quote]="contents.description.quote"></app-quote>
    <div class="section">
      <p *ngFor="let paragraph of contents.description.content" [innerHTML]="paragraph"></p>
    </div>
  </div>


  <div id="general">
    <div class="subheader">
      <h2>{{contents.startingSkills.header}}</h2>
      <div class="section">
        <p>
          {{contents.startingSkills.description}}
        </p>
      </div>
    </div>
    <ul id="steps">
      <li *ngFor="let step of contents.startingSkills.steps">
        <span [innerHTML]="step.content"></span>
        <ul *ngIf="step.sub && step.sub.length">
          <li *ngFor="let sub of step.sub" [innerHTML]="sub | safeHtml"></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
