
<div class="chapter-container">
  <div id="step-one">
    <div class="subheader">
      <h1>{{contents.title}}</h1>
      <app-quote [quote]="contents.quote"></app-quote>
      <div class="attr-section">
        <p *ngFor="let paragraph of contents.intro.contents" [innerHTML]="paragraph"></p>
      </div>
    </div>
    <div class="attr-section">
      <div [innerHTML]="contents.intro.trainable.info"></div>
      <div class="modifier-pre">{{contents.intro.trainable.pre}}</div>
      <ul id="modifier-list">
          <li *ngFor="let mod of contents.intro.trainable.modifiers" >{{mod.name}}: {{mod.modifier}}</li>
      </ul>
    </div>
    <div class="terminology">
      <h3>{{contents.terminology.header}}</h3>
      <div *ngFor="let term of contents.terminology.terms">
        <div class="term">
          <span class="term-name">{{term.name}}: </span><span [innerHTML]="term.details"></span>
          <ul *ngIf="term.sub && term.sub.length">
            <li *ngFor="let sub of term.sub">{{sub}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
