<div class="chapter-container">
  <div id="step-one">
    <div class="subheader">
      <h2>{{contents.title}}</h2>
      <app-quote [quote]="contents.quote"></app-quote>
      <div class="section">
        <div *ngFor="let con of contents.intro" [innerHTML]="con"></div>
      </div>
    </div>
  </div>
  <div class="example">
    <div class="section" *ngFor="let content of contents.content">
      <span class="bold">{{content.name}}: </span><span [innerHTML]="content.intro"></span>
      <ul>
        <li *ngFor="let info of content.sub" [innerHTML]="info"></li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.attackModifiers.header}}</h3>
    <p [innerHTML]="contents.attackModifiers.intro"></p>
    <div class="steps" *ngFor="let info of contents.attackModifiers.content">
      <span class="bold">{{info.name}}: </span><span>{{info.intro}}</span>
      <ul *ngIf="info.sub && info.sub.length">
        <li *ngFor="let item of info.sub" [innerHTML]="item"></li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.responding.header}}</h3>
    <div *ngFor="let intro of contents.responding.intro">
      <p [innerHTML]="intro"></p>
    </div>
    <div class="steps" *ngFor="let info of contents.responding.content">
      <span class="bold">{{info.name}}: </span>
      <ul *ngIf="info.sub && info.sub.length">
        <li *ngFor="let item of info.sub" [innerHTML]="item"></li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.dealingDamage.header}}</h3>
    <p>{{contents.dealingDamage.intro}}</p>
    <div class="steps" *ngFor="let info of contents.dealingDamage.content">
      <span class="bold">{{info.name}}</span><span>{{info.formula}}</span>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.dealingDamage.criticalHit.header}}</h3>
    <div class="steps" *ngFor="let info of contents.dealingDamage.criticalHit.content" [innerHTML]="info"></div>
    <div class="example">
      <span class="bold">{{contents.dealingDamage.criticalHit.example.name}}</span><span>{{contents.dealingDamage.criticalHit.example.content}}</span>
    </div>
  </div>
  <div class="section">
    <h3>{{contents.dealingDamage.statuses.header}}</h3>
    <p>{{contents.dealingDamage.statuses.intro}}</p>
    <div class="steps">
      <p *ngFor="let pre of contents.dealingDamage.statuses.pre">{{pre}}</p>
    </div>
    <ul>
      <li *ngFor="let info of contents.dealingDamage.statuses.content"><span class="bold">{{info.name}}</span> - {{info.effect}}</li>
    </ul>
  </div>
  <div class="section">
    <h3>{{contents.dealingDamage.damageTypes.header}}</h3>
    <p>{{contents.dealingDamage.damageTypes.intro}}</p>
    <ul>
      <li *ngFor="let info of contents.dealingDamage.damageTypes.content">
        <span class="bold">{{info.name}}</span> - {{info.intro}}
        <ul>
          <li *ngFor="let sub of info.sub" [innerHTML]="sub"></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="section">
    <h3>{{contents.dealingDamage.unarmedCombat.header}}</h3>
    <p>{{contents.dealingDamage.unarmedCombat.intro}}</p>
    <ul class="steps">
      <li *ngFor="let info of contents.dealingDamage.unarmedCombat.content">{{info}}</li>
    </ul>
  </div>
</div>
