/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.chapter-container {
  padding: 12px;
  width: 100%;
  h1, h2, h3 {
    text-align: center;
    text-decoration: underline;
  }

  .section {
    margin: 30px;
  }
}

#step-one {
  #steps, #attr-desc {
    margin: 0 60px;
  }
}

.bold {
  font-weight: 700;
}

.no-wrap {
    white-space: nowrap;
}

.example {
  margin: 8px 60px;
}

.steps {
  margin-top: 15px;
}
